
.App {
  text-align: center;
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

header {
  padding: 0;
  margin: 0;
}

input[type=text] {
  border: none;
  width: 300px;
  font-size: 18px;
  padding: 15px 10px;
  margin-top: 0;
}

button {
  border: none;
  padding: 15px 10px;
  font-size: 18px;
  background-color: #4caf50;
  color: white;
}

ul {
  list-style: none;
  margin-left: 0;
}

li {
  list-style: none;
  margin-left: 0;
  color: whitesmoke;
  font-size: 20px;
}

li:hover {
  text-decoration: underline;
  cursor: pointer;
}

.done {
  text-decoration: line-through;
  color: gray;
}